micro-media-ordering/src/main/resources/internet.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://internet.bp.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="OrderInternetServiceService" targetNamespace="http://internet.bp.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://internet.bp.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://internet.bp.org/">
  <xs:element name="cancelOrder" type="tns:cancelOrder"/>
  <xs:element name="cancelOrderResponse" type="tns:cancelOrderResponse"/>
  <xs:element name="getOrderInfo" type="tns:getOrderInfo"/>
  <xs:element name="getOrderInfoResponse" type="tns:getOrderInfoResponse"/>
  <xs:element name="orderInternet" type="tns:orderInternet"/>
  <xs:element name="orderInternetResponse" type="tns:orderInternetResponse"/>
  <xs:complexType name="orderInternet">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:internetOrder"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="internetOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="household" type="tns:household"/>
      <xs:element minOccurs="0" name="installmentDate" type="xs:anySimpleType"/>
      <xs:element minOccurs="0" name="internetService" type="tns:internetService"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="household">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="internetService">
    <xs:sequence>
      <xs:element minOccurs="0" name="broadband" type="tns:internetBroadband"/>
      <xs:element minOccurs="0" name="provider" type="xs:string"/>
      <xs:element name="speed" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderInternetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:orderInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="cost" type="xs:decimal"/>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:orderInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOrderInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:orderInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelOrder">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:orderInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="internetBroadband">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADSL"/>
      <xs:enumeration value="FIBRE_OPTIC"/>
      <xs:enumeration value="CABLE"/>
      <xs:enumeration value="MOBILE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Fault" type="tns:Fault"/>
  <xs:complexType name="Fault">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:int"/>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="Fault">
    <wsdl:part element="tns:Fault" name="Fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrderInfoResponse">
    <wsdl:part element="tns:getOrderInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderInternetResponse">
    <wsdl:part element="tns:orderInternetResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelOrderResponse">
    <wsdl:part element="tns:cancelOrderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderInternet">
    <wsdl:part element="tns:orderInternet" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrderInfo">
    <wsdl:part element="tns:getOrderInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelOrder">
    <wsdl:part element="tns:cancelOrder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderInternetService">
    <wsdl:operation name="orderInternet">
      <wsdl:input message="tns:orderInternet" name="orderInternet">
    </wsdl:input>
      <wsdl:output message="tns:orderInternetResponse" name="orderInternetResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Fault" name="Fault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOrderInfo">
      <wsdl:input message="tns:getOrderInfo" name="getOrderInfo">
    </wsdl:input>
      <wsdl:output message="tns:getOrderInfoResponse" name="getOrderInfoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Fault" name="Fault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelOrder">
      <wsdl:input message="tns:cancelOrder" name="cancelOrder">
    </wsdl:input>
      <wsdl:output message="tns:cancelOrderResponse" name="cancelOrderResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Fault" name="Fault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderInternetServiceServiceSoapBinding" type="tns:OrderInternetService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="orderInternet">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="orderInternet">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="orderInternetResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOrderInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOrderInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrderInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderInternetServiceService">
    <wsdl:port binding="tns:OrderInternetServiceServiceSoapBinding" name="OrderInternetServicePort">
      <soap:address location="http://localhost:8081/soap-api/service/internet"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>