micro-media-ordering/src/main/resources/tv.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tv.bp.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="OrderTvServiceService" targetNamespace="http://tv.bp.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tv.bp.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tv.bp.org/">
  <xs:element name="cancelOrder" type="tns:cancelOrder"/>
  <xs:element name="cancelOrderResponse" type="tns:cancelOrderResponse"/>
  <xs:element name="getOrderInfo" type="tns:getOrderInfo"/>
  <xs:element name="getOrderInfoResponse" type="tns:getOrderInfoResponse"/>
  <xs:element name="orderTV" type="tns:orderTV"/>
  <xs:element name="orderTVResponse" type="tns:orderTVResponse"/>
  <xs:complexType name="getOrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:orderInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="cost" type="xs:decimal"/>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOrderInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:orderInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelOrder">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:orderInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderTV">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:tvOrder"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tvOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="household" type="tns:household"/>
      <xs:element minOccurs="0" name="installmentDate" type="xs:anySimpleType"/>
      <xs:element minOccurs="0" name="TVService" type="tns:tvService"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="household">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tvService">
    <xs:sequence>
      <xs:element minOccurs="0" name="provider" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="tns:tvType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderTVResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:orderInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tvType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TERRESTRIAL"/>
      <xs:enumeration value="SATELLITE"/>
      <xs:enumeration value="CABLE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Fault" type="tns:Fault"/>
  <xs:complexType name="Fault">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:int"/>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="orderTV">
    <wsdl:part element="tns:orderTV" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrderInfoResponse">
    <wsdl:part element="tns:getOrderInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Fault">
    <wsdl:part element="tns:Fault" name="Fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderTVResponse">
    <wsdl:part element="tns:orderTVResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrderInfo">
    <wsdl:part element="tns:getOrderInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelOrder">
    <wsdl:part element="tns:cancelOrder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelOrderResponse">
    <wsdl:part element="tns:cancelOrderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderTvService">
    <wsdl:operation name="getOrderInfo">
      <wsdl:input message="tns:getOrderInfo" name="getOrderInfo">
    </wsdl:input>
      <wsdl:output message="tns:getOrderInfoResponse" name="getOrderInfoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Fault" name="Fault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelOrder">
      <wsdl:input message="tns:cancelOrder" name="cancelOrder">
    </wsdl:input>
      <wsdl:output message="tns:cancelOrderResponse" name="cancelOrderResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Fault" name="Fault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="orderTV">
      <wsdl:input message="tns:orderTV" name="orderTV">
    </wsdl:input>
      <wsdl:output message="tns:orderTVResponse" name="orderTVResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Fault" name="Fault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderTvServiceServiceSoapBinding" type="tns:OrderTvService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getOrderInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOrderInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrderInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="orderTV">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="orderTV">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="orderTVResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderTvServiceService">
    <wsdl:port binding="tns:OrderTvServiceServiceSoapBinding" name="OrderTvServicePort">
      <soap:address location="http://localhost:8080/soap-api/service/tv"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>